version: '3.8'
services:

  backend:
    container_name: backend
    image: myounis789/petclinicrest:latest
    build: ./spring-petclinic-rest
    ports:
      - published: 9966
        target: 9966

  frontend:
    container_name: frontend
    image: myounis789/petclinicangular:latest
    build: ./spring-petclinic-angular
    ports:
      - published: 4200
        target: 4200
    depends_on:
      - "backend"

  nginx:
    container_name: nginx
    image: nginxtest:latest
    build: ./NGINX
    ports:
      - published: 80
        target: 80
    volumes:
      - type: bind
        source: ./NGINX/nginx.conf
        target: /etc/nginx/nginx.conf
    depends_on:
      - "backend"

  mysql:
    container_name: MySQL
    build: ./mysql
    image: myounis789/petclinicmysql:latest
    ports:
    - target: 3306
      published: 3306
    environment:
      - MYSQL_ROOT_PASSWORD=petclinic
      - MYSQL_DATABASE=petclinic
